---
import Layout from '../layouts/Layout.astro';
import Ubication from '../sections/Ubication.astro';
import HeaderLocation from '../sections/HeaderLocation.astro';
import FooterLocation from '../sections/FooterLocation.astro';
---
<Layout title="Modern Art Gallery | Location">
    <Ubication />
    <main>
        <HeaderLocation />
        <FooterLocation />
    </main>
</Layout>