---

---
<header class="grid grid-cols-1 md:grid-cols-2p items-center xl:grid-cols-3 relative">
    <div class="vacio [display:none] xl:flex bg-secondary w-full h-full"></div>
    <figure class="flex w-full h-[240px] md:h-full md:w-[118%] xl:w-[110%]">
        <img src="public/headerImage.jpg" alt="Imagen central del header y de la pagina" class="w-full max-w-[768px] object-cover">
    </figure>
    <div class="w-[90%] mx-auto my-5 flex flex-col gap-5 md:gap-11 xl:absolute xl:flex-row xl:w-[70%] xl:justify-between xl:ml-[15%]">
        <h1 class="text-6xl uppercase xl:text-8xl xl:text-white">Modern Art Gallery</h1>
        <div class="flex flex-col gap-4 md:gap-10 xl:w-[380px]">
            <p class="text-tertiary text-lg xl:text-xl">The arts in the collection of the Modern Art Gallery all started from a spark of inspiration. Will these pieces inspire you? Visit us and find out.</p>
            <a href="#" class="w-max flex gap-2 items-center bg-secondary text-white pl-4 uppercase font-bshouldersd font-bold tracking-[3.6px] text-xl">our location <img src="public/arrow.svg" alt="direccion del enlace" class="bg-primary p-4"></a>
        </div>
    </div>
</header>