<section>
  <figure class="w-full h-[600px] flex items-center justify-center">
    <img
      src="./public/map.jpg"
      alt="Ubicacion de la galeria"
      class="w-full h-full object-cover object-center"
    />
  </figure>  
  <div class="relative max-w-[1110px] mx-auto">
    <a
      href="/"
      class="w-max flex gap-4 items-center justify-between bg-secondary text-white pr-4 uppercase font-bshouldersd font-bold tracking-[3.6px] text-xl transition-all duration-300 linear hover:bg-primary group fixed top-0"
      ><img
        src="public/arrow.svg"
        alt="direccion del enlace"
        class="transition-all duration-300 linear rotate-180 bg-primary p-4 group-hover:bg-secondary"
      />back to home</a
    >
  </div>
  
</section>
